@charset "utf-8";
/* CSS Document */

*:after,
*:before {
  box-sizing: border-box;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: #ffb324; /* originally orange, brightened for a11y in footer */
  text-decoration: none;
}

a:hover,
a:focus {
  color: #9ac9f3; /* originally #3397db, brightened for a11y in header*/
  text-decoration: none;
}

a img {
  border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #dbdbdb; /* originally #aaa, brightened for a11y */
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a:hover {
  /* a11y color contrast friendly */
  color: #9ac9f3;
}

/* screen-reader-only styles
   Credit:
   @link https://webaim.org/techniques/css/invisiblecontent/ */

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* If we want the screen reader content to be visible on focus.
   Same credit/source as above. */

.sr-only--focusable:focus {
  position: static;
  width: auto;
  height: auto;
}

/* ====================== Navigation ====================== */

.main-nav {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: #252831;
  text-align: center;
  padding: 5px 15px;
}

.main-nav h1 {
  margin: auto;
}

.header__title__link {
  color: #fff;
  font-size: 17px;
  letter-spacing: 5px;
  font-weight: 200;
  text-transform: uppercase;
}

#breadcrumb {
  box-sizing: border-box;
  padding: 13px 15px;
  list-style: none;
  background-color: #eee;
  margin: 0;
}

/* Display list items side by side */

.breadcrumb__list-item {
  display: inline;
  font-size: 15px;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb span + span:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb span a {
  color: #024f97; /* originally #0275d8, darkened for a11y */
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb span a:hover {
  color: #022850; /* originally #01447e, darkened b/c of above */
  text-decoration: underline;
}

@media (min-width: 768px) {
  .main-nav {
    height: 80px;
    padding-top: 10px;
  }

  .header__title__link {
    font-size: 14pt;
    letter-spacing: 10px;
  }

  #breadcrumb {
    padding: 13px 30px;
    width: 50%;
    max-width: calc(1200px * 0.5);
    margin-right: 50%;
    margin-left: auto;
  }

  .breadcrumb__list-item {
    font-size: 17px;
  }
}

/* ====================== Map ====================== */

#map {
  height: 250px;
  width: 100%;
  background-color: #ccc;
}

@media (min-width: 768px) {
  #map {
    height: 400px;
  }
}

.leaflet-container a {
  color: #005c8f !important;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  background-color: #145c8f;
  align-items: center;
  padding: 10px 5px;
}

.filter-options__h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px;
  /* styles for when this receives focus, i.e. via skip link,
     - don't span whole line (this changes layout of the filter options section
       from multiline to single line, for the better imo)
     - provide padding so the outline doesn't sit flush with the text, also the
       header is now the same height as the dropdowns.
     - reset left margin so the text remains aligned with the grid in the meantime */
  display: inline-block;
  padding: 10px;
  margin-left: 0; /* maintain grid alignment */
}

/*
  https://github.com/WICG/focus-visible#2-update-your-css
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/

/* .filter-options__h2:focus:not(:-moz-focusring) {
  outline: none;
} */

/* .filter-options__h2:focus:not(:focus-visible) {
  outline: none;
} */

.restaurant-container:focus:not(.focus-visible),
#reviews-container:focus:not(.focus-visible) {
  outline: none;
}

/* The filter options is on a blue background, so browser defaults may not even
   be visible. Utility reference:
   http://paletton.com/#uid=13w0u0kqbOpf9Uvl2RhvWL1G+v- */

.js-focus-visible .filter-options__h2.focus-visible {
  outline: #fff auto;
}

.js-focus-visible .restaurant-container.focus-visible,
.js-focus-visible #reviews-container.focus-visible {
  outline: #155fa1 auto;
}

/* When using skip to link, shift content into via below fixed header, works in Chrome
   (shifting #reviews-container:target directly does not help in FF) */

.js-focus-visible #reviews-container.focus-visible:target {
  margin-top: 140px;
}

/* We create duplicate rules b/c when the pseudo class is not supported,
   using it as another comma-delimited selector could kill the rule altogether. */

/* #filter-options__h2:-moz-focusring:not(:focus) {
  outline: auto;
} */

#filter-options__h2:focus-visible,
#restaurant-container:focus-visible,
#reviews-container:focus-visible {
  outline: #155fa1 auto;
}

.filter-options__select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: calc(100% - 20px);
}

@media (min-width: 768px) {
  .filter-options {
    padding: 13px 20px;
  }

  .filter-options__select {
    width: 200px;
  }
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  box-sizing: border-box;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 5px 15px 30px;
  text-align: center;
}

.restaurants-list__restaurant {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 15px 0;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 100%;
}

.restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  /* Don't do this, can skew aspect ratio of image
  min-height: 248px;

  Maintain aspect ratio later via
  height: auto;
   */
}

/* With LazyLoad, we leave src blank, but we still want the images to occupy
   their space on the screen. */

.restaurant-img[src=""] {
  height: 0;
  padding-bottom: 75%;
}

/* This will occupy the same space since our images are all the same size,
   hopefully the browser is smart enough to not cause any jank in the process. */

.restaurant-img:not([src=""]) {
  height: auto;
  padding-bottom: 0;
}

.restaurants-list__restaurant h3 {
  color: #d43900; /* via http://colorsafe.co/, originally #f18200 */
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

.restaurants-list__restaurant a {
  background-color: #aa5d00; /* via http://colorsafe.co/, originally orange */
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.restaurants-list__restaurant a:focus {
  outline: #409dde auto;
}

/* flexbox for IE11 and whatever else doesn't support display: grid;
   unfortunately, IE11 doesn't support "@supports" either... */
@media (min-width: 768px) {
  #restaurants-list {
    padding: 15px 30px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .restaurants-list__restaurant {
    flex-basis: 270px;
    flex-grow: 1;
    margin: 15px;
  }
}

/* Use grid for whatever supports it to solve orphan column issue, w/ flexbox an
   orphan column will have a flexible or set size that doesn't match the auto
   column sizes above. We'll use 2-column and 3-column grids. */
@supports (display: grid) {
  @media (min-width: 768px) {
    #restaurants-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }

    .restaurants-list__restaurant {
      margin: 0 auto;
      min-width: 270px;
    }
  }

  @media (min-width: 900px) {
    #restaurants-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* ====================== Restaurant Details ====================== */

#restaurant-name {
  color: #d43900; /* via http://colorsafe.co/, originally #f18200 */
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

#restaurant-cuisine {
  box-sizing: border-box;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  /* width: 90%; */
}

#restaurant-container,
#reviews-container {
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 15px;
}

#reviews-container {
  padding: 15px;
}

#reviews-container h2 {
  color: #aa5d00; /* via http://colorsafe.co/, originally #f58500 */
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

.reviews-list__review {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 10px 20px 20px;
  position: relative;
  /* width: 85%; */
}

.reviews-list__review time {
  display: block;
}

.reviews-list__review time,
.reviews-list__review p {
  margin: 0 0 10px;
  max-width: 450px; /* attempt to limit max 75 characters per line */
}

#restaurant-hours td {
  color: #666;
}

@media (min-width: 768px) {
  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  #maincontent {
    max-width: 1200px;
    margin: auto;
  }

  .inside #map-container {
    background: transparent none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    top: 80px;
    width: 50%;
    max-width: calc(1200px * 0.5);
    left: 50%;
  }

  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }

  .inside #footer {
    box-sizing: border-box;
    bottom: 0;
    position: absolute;
    width: 50%;
    max-width: calc(1200px * 0.5);
    right: 50%;
  }

  #restaurant-container,
  #reviews-container {
    padding: 140px 30px 30px;
    width: 50%;
  }

  #reviews-container {
    padding-top: 15px;
  }
}
